Repository jyablonski/nba_elt_dashboard, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies

add
  .github/scripts/gcp_vm_update.sh
  .github/workflows/gcp_vm_sync.yml
  .github/workflows/test.yml
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-test.yml
  pyproject.toml
  src/pages/about.py
  src/server.py
  tests/integration/schedule_analysis_test.py
  uv.lock
Labels: source_code, ci, dependencies

z
  .github/workflows/gcp_vm_sync.yml
Labels: none

z
  .github/scripts/gcp_vm_update.sh
Labels: none

z
  .github/scripts/gcp_vm_update.sh
  .github/workflows/gcp_vm_sync.yml
Labels: none

Bump version: 1.1.1 → 1.1.2
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
Labels: none

z
  .github/workflows/gcp_vm_sync.yml
Labels: none

Dashboard v1.1.2 (#20)
  .bumpversion.cfg
  .github/scripts/gcp_vm_update.sh
  .github/workflows/gcp_vm_sync.yml
  .github/workflows/test.yml
  README.md
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-test.yml
  pyproject.toml
  src/pages/about.py
  src/server.py
  tests/integration/schedule_analysis_test.py
  uv.lock
Labels: source_code, ci, dependencies

add
  .github/scripts/vm_deploy.sh
  .github/scripts/vm_restart.sh
  .github/workflows/vm_cron_restart.yml
  .github/workflows/vm_deploy.yml
  .pre-commit-config.yaml
  README.md
  docker/docker-compose-local.yml
  docker/docker-compose-test.yml
  src/pages/about.py
Labels: none

Bump version: 1.1.2 → 1.1.3
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
Labels: none

Dashboard v1.1.3 (#21)
  .bumpversion.cfg
  .github/scripts/vm_deploy.sh
  .github/scripts/vm_restart.sh
  .github/workflows/vm_cron_restart.yml
  .github/workflows/vm_deploy.yml
  .pre-commit-config.yaml
  README.md
  docker/docker-compose-local.yml
  docker/docker-compose-test.yml
  pyproject.toml
  src/pages/about.py
Labels: none

add
  README.md
Labels: none

readme update (#22)
  README.md
Labels: none

add
  docker/postgres_bootstrap.sql
  src/config.py
  src/data.py
  src/data_cols/reddit_recent_keywords.py
  src/pages/about.py
  src/pages/overview.py
  src/pages/recent_games.py
  src/pages/schedule.py
  src/pages/social_media_analysis.py
  src/pages/team_analysis.py
  src/server.py
Labels: source_code

add
  src/pages/overview.py
Labels: none

add
  tests/integration/pbp_plot_test.py
  tests/integration/schedule_analysis_test.py
  tests/integration/schedule_test.py
  tests/integration/scoring_efficiency_test.py
  tests/integration/social_media_reddit_analysis_plot_test.py
  tests/integration/team_analysis_test.py
Labels: none

z
  src/pages/social_media_analysis.py
Labels: none

Bump version: 1.1.3 → 1.1.4
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
Labels: none

z
  src/server.py
Labels: source_code

Dashboard v1.1.4 (#23)
  .bumpversion.cfg
  README.md
  docker/postgres_bootstrap.sql
  pyproject.toml
  src/config.py
  src/data.py
  src/data_cols/reddit_recent_keywords.py
  src/pages/about.py
  src/pages/overview.py
  src/pages/recent_games.py
  src/pages/schedule.py
  src/pages/social_media_analysis.py
  src/pages/team_analysis.py
  tests/integration/pbp_plot_test.py
  tests/integration/schedule_analysis_test.py
  tests/integration/schedule_test.py
  tests/integration/scoring_efficiency_test.py
  tests/integration/social_media_reddit_analysis_plot_test.py
  tests/integration/team_analysis_test.py
Labels: source_code

add
  .github/workflows/deploy.yml
  Makefile
  docker/docker-compose-build.yml
  docker/docker-compose-postgres.yml
  src/utils.py
Labels: source_code, cd

Bump version: 1.1.4 → 1.1.5
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
Labels: none

Dashboard v1.1.5 (#24)
  .bumpversion.cfg
  .github/workflows/deploy.yml
  Makefile
  README.md
  docker/docker-compose-build.yml
  docker/docker-compose-postgres.yml
  pyproject.toml
  src/pages/about.py
  src/utils.py
Labels: source_code, cd

add
  src/pages/schedule.py
  src/pages/social_media_analysis.py
  src/pages/team_analysis.py
  static/styles.css
  tests/integration/schedule_analysis_test.py
  tests/integration/team_analysis_test.py
Labels: none

add
  uv.lock
Labels: dependencies

Bump version: 1.1.5 → 1.1.6
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
Labels: none

Dashboard v1.1.6 (#25)
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
  src/pages/schedule.py
  src/pages/social_media_analysis.py
  src/pages/team_analysis.py
  static/styles.css
  tests/integration/schedule_analysis_test.py
  tests/integration/team_analysis_test.py
  uv.lock
Labels: dependencies

add
  src/pages/schedule.py
Labels: none

Bump version: 1.1.6 → 1.1.7
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
Labels: none

Dashboard v1.1.7 (#26)
  .bumpversion.cfg
  README.md
  pyproject.toml
  src/pages/about.py
  src/pages/schedule.py
Labels: none

add
  .bumpversion.cfg
  .github/scripts/vm_deploy.sh
  .github/workflows/vm_deploy.yml
  Makefile
  README.md
  config.yaml
  docker/Dockerfile
  docker/docker-compose-local.yml
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  src/data.py
  src/pages/recent_games.py
  tests/conftest.py
  tests/fixtures/config_fixture.yaml
  tests/integration/get_data_test.py
  tests/integration/sql_connection_test.py
  tests/unit/load_yaml_with_env_test.py
Labels: source_code

add
  .github/scripts/vm_deploy.sh
  .github/workflows/vm_deploy.yml
  docker/Dockerfile
  docker/docker-compose-local.yml
  src/pages/about.py
Labels: none

add
  README.md
Labels: none

schema rearchitecture (#27)
  .bumpversion.cfg
  .github/scripts/vm_deploy.sh
  .github/workflows/vm_deploy.yml
  Makefile
  README.md
  config.yaml
  docker/Dockerfile
  docker/docker-compose-local.yml
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  src/data.py
  src/pages/about.py
  src/pages/recent_games.py
  tests/conftest.py
  tests/fixtures/config_fixture.yaml
  tests/integration/get_data_test.py
  tests/integration/sql_connection_test.py
  tests/unit/load_yaml_with_env_test.py
Labels: source_code

.github/labeler.yml:

source_code:
  - src/*
  - tests/*

cd:
  - .github/workflows/deploy.yml

ci:
  - .github/workflows/test.yml

dependencies:
  - uv.lock
